<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao FincApp</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">FincApp</div>
        <div class="nav-links">
            <a href="/login" class="nav-item">Login</a>
            <a href="/register" class="btn-small">Cadastrar</a>
        </div>
    </nav>

    <header class="hero">
        <div class=" hero-section">
            <h1 class="hero-title">FincApp</h1>
            <p class="hero-subtitle">Controle suas finanças acadêmicas e pessoais de forma simples, rápida e eficiente.</p>
            <div class="action-buttons">
                <a href="/login" class="btn btn-primary"> Login</a>
                <a href="/cadastro" class="btn btn-success"> Cadastro</a>
            </div>
        </div>
    </header>

    <footer class="main-footer">
        <p> Projeto de Orientação a Objetos | Python + Bottle</p>
        <p sytle="font-size: 0.8rem; opacity= 0.7;">Desenvolvido por Pedro Luca Manera e Vinicius Araruna</p>
    </footer>

</body>
</html>