<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao FincApp</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class=" hero-section">
        <h1 class="hero-title">FincApp</h1>
        <p class="hero-subtitle">Controle suas finanças acadêmicas e pessoais de forma simples, rápida e eficiente.</p>
        <div class="action-buttons">
            <a href="/login" class="btn btn-primary"> Login</a>
            <a href="/cadastro" class="btn btn-sucess"> Cadastro</a>
        </div>

        <div style="margin-top: 50px; border-top: 1px solid #eee; padding-top: 20px;">
            <p style="font-size: 0.9rem; color:#888"> Projeto de Orientação a Objetos</p>
        </div>
    </div>
    
</body>
</html>